@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');


.shadows-into-light-regular {
    font-family: "Shadows Into Light", serif;
    font-weight: 900;
    font-size: 50px;
  }